<html>
	<head>
		<link rel="stylesheet" type="text/css" href="./css/resets.css">
		<link rel="stylesheet" type="text/css" href="./css/styleerror.css">
		<title>You done messed up now!</title>
	</head>

	<body>
<p>
		<img src="images/fail.jpg" id="fail" class="photo">
</p>

	<p1>
		What did you do?
	</p1>


	</body>

</html>
