<h1>Chris Caraway</h1>
  <link rel="stylesheet" type="text/css" href="/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/css/website.css" />
<p>
  <img src="chris.jpg">
</p>

<h2>Bio</h2>

<blockquote>Who am I?</blockquote>

<ul>
  <li>Aspiring Web Developer.</li>
  <li>Mobile enthusiast.</li>
  <li>Passion for design and user experience.</li>
  <li>Bibliophile.</li>
  <li>Cycling fanatic.</li>
  <li>I like ponies.</li>
  <li>Michigan native, NYC resident.</li>

</ul>
