<!DOCTYPE HTML>

<html>
	<head>
			<title>Chris Caraway - </title>
			<link rel="stylesheet" type="text/css" href="/css/reset.css" />
			<link rel="stylesheet" type="text/css" href="/css/website.css" />

	</head>
	<body>
			<div class="template">
				<a href="/" class="template-header">
					<h1>Welcome!</h1>
				</a>
				<p>

  				<h4>Contact Me</h4>
					<ul>
						<li> <a href="http://www.github.com/chriscaraway">Github<li></a>
						<li> <a href="https://www.linkedin.com/in/chriscaraway/">My Linkedin</li></a>
					</ul>

				<main class="template-main">
					<%- include(page, data) %>

				</main>

				<footer class="template-footer">Chris Caraway 2017</footer>
			<div>
			</body>
			</html>
